html {
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body, code, pre {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

@font-face {
  font-family: 'Distrela'; /* Your chosen name */
  src: url('../fonts/Distrela-Demo.ttf') format('truetype'); /* Even older fallback */
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
}

.container > p:first-of-type {
  margin-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.page {
  background-color: #fcd9f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0 100px 0;
}

.name {
  font-family: 'Distrela';
  font-size: 30px;
  color: purple;
}

.navbar {
  margin-top: 40px;
}

.navbar a {
  text-decoration: none; 
  color: purple;
  font-size: 22px;
  margin-right: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.current {
  font-weight: bold;
  color: blue;
}

img {
  float: left;
  margin-right: 60px;
  margin-bottom: 10px;
  width: 400px;
  height: auto;
}