html {
  font-size: 20px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body, code, pre {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

.page {
  display: flex;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: seashell;
  padding: 0 16px 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 1150px;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container { padding: 0 32px 50px; }
}

@media (min-width: 1024px) {
  .container { padding: 0 100px 50px; }
}

.profile {
  display: flex;
  align-items: flex-start; 
}
.profile img {
  width: 200px;
  margin-right: 10px; 
}

.description p {
  margin-top: 10px;
}

.name {
  display: flex;
  align-items: flex-end;
}

.name h1 {
  margin: 0; 
  display: inline;
  padding-right: 10px;
}
.name span {
  margin: 0;
  padding-bottom: 3px;
  float: right;
  opacity: 0.5;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
}

a {
  color: green;
  text-decoration: none;
}

a:visited {
  color: green;
}
