<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/assets/css/samistyles.css">
  </head>
  <body class="page">
    <div class="container">
      <div class="header">
        <div class="name">
          <h1>Sami Chiang</h1>
        </div>
        <div class="nav">
          {% include saminav.html %}
        </div>
      </div>
      <img src="/assets/images/sami.png" alt="Profile picture">
      {{ content }}
    </div>
  </body>
</html>